In [58]:
import numpy as np
import pandas as pd
import datetime

In [59]:
def pre_processing(filename):
    file_2g = pd.read_csv(filename).loc[:,['MRTime','RNCID_1', 'CellID_1','EcNo_1', 'RSCP_1', 'RNCID_2', 'CellID_2','EcNo_2', 'RSCP_2','RNCID_3', 'CellID_3','EcNo_3', 'RSCP_3', 'RNCID_4', 'CellID_4','EcNo_4', 'RSCP_4', 'RNCID_5', 'CellID_5','EcNo_5', 'RSCP_5', 'RNCID_6', 'CellID_6','EcNo_6', 'RSCP_6','Grid_ID']]
    gong_can = pd.read_csv("final_2g_gongcan.csv", encoding='gbk').loc[:,['CGI', 'LAC', 'CI', u'经度', u'纬度']]
    # merge_data = pd.merge(file_2g, gong_can, left_on=['RNCID_1','CellID_1'], right_on=['LAC','CI'], how='inner')[['MRTime','EcNo_1', 'RSCP_1', 'CGI', u'经度', u'纬度', 'Grid_ID']]

    for i in range(6):
        RNCID = "RNCID_" + str(i+1)
        CellID = "CellID_" + str(i+1)
        station = pd.merge(file_2g, gong_can, left_on=[RNCID, CellID], right_on=['LAC','CI'], how='inner')[['CGI']]
        file_2g[[str(i+1)+'station']] = station
        file_2g['RSSI'+str(i+1)] = file_2g['EcNo_' + str(i+1)] - file_2g['RSCP_' + str(i+1)]

    merge_data = file_2g
    
    merge_data['MRTime'] = merge_data['MRTime'].str.split()
    timeCol = pd.Series(map(lambda x:x[1],merge_data['MRTime']),index=merge_data.index)
    timeCol = pd.to_datetime(timeCol,format="%H:%M:%S.%f")
    merge_data['MRTime'] = timeCol
    
    merge_data = merge_data.sort_values(by=['MRTime'])
    
    for i in range(1,7):
        del merge_data['EcNo_' + str(i)],merge_data['RSCP_' + str(i)]
        
    for i in range(1,7):
        del merge_data['RNCID_' + str(i)],merge_data['CellID_' + str(i)]
        
    return merge_data

In [78]:
#所有时间数据
time = pre_processing('final_2g_tr.csv')[['MRTime']]
time_delt = time[['MRTime']].diff()
time_delt = time_delt.dropna(axis=0)
time_delt.sort_values(by=['MRTime'])
time_delt
#时间数据整体上移
#time_up_move = time.iloc[1: time.count()[0]]
##向末尾添加一个数据
#suffix = pd.DataFrame(datetime.datetime.now(),index=[-1], columns=['MRTime'])
#time_up_move = pd.concat([time_up_move, suffix], ignore_index=True)
#列相减
#time_delta = time_up_move[['MRTime']] - time[['MRTime']]
#time_delta

               MRTime
27850        00:00:00
27852 00:00:00.200000
27856        00:00:00
27855        00:00:00
27851        00:00:00
27853        00:00:00
27854        00:00:00
27857 00:00:00.200000
27858 00:00:00.100000
27860 00:00:00.100000
27861        00:00:00
27862        00:00:00
27859        00:00:00
27863 00:00:00.100000
27864 00:00:00.100000
27865 00:00:00.100000
27870 00:00:00.200000
27869        00:00:00
27867        00:00:00
27866        00:00:00
27868        00:00:00
27871 00:00:00.100000
27872        00:00:00
27873 00:00:00.100000
27874        00:00:00
27875 00:00:00.300000
27876        00:00:00
27877        00:00:00
27878        00:00:00
27879 00:00:00.100000
...               ...
27817        00:00:00
27818        00:00:00
27821 00:00:00.100000
27822 00:00:00.300000
27823 00:00:00.100000
27824        00:00:00
27825        00:00:00
27826 00:00:00.100000
27827 00:00:00.400000
27828        00:00:00
27830        00:00:00
27829        00:00:00
27831 00:00:00.100000
27832 00:00:00.400000
27833        00:00:00
27834        00:00:00
27835        00:00:00
27836        00:00:00
27837        00:00:00
27838 00:00:00.100000
27839 00:00:00.100000
27840 00:00:00.100000
27841 00:00:00.100000
27844 00:00:00.100000
27842        00:00:00
27843        00:00:00
27845        00:00:00
27848 00:00:00.100000
27847        00:00:00
27846        00:00:00

[78066 rows x 1 columns]